.mobile-controls-container {
  display: none;
}

.controls-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  background-color: var(--primary-color);
}
.controls-container .control {
  height: 100%;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls-container .control span {
  text-transform: uppercase;
}
.controls-container .control .line {
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--text-color);
  transition: width 0.3s ease-in;
  transform-origin: center;
}
.controls-container .control:hover {
  font-weight: 900;
  word-spacing: 5px;
  transform: translateY(-5px);
}
.controls-container .control:hover .line {
  width: 150%;
  background-color: var(--text-color);
}
.controls-container .active-section {
  font-weight: 900;
  word-spacing: 5px;
  transform: translateY(-5px);
}
.controls-container .active-section .line {
  width: 150%;
  background-color: var(--secondary-color);
}

.w3-bar-item {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color);
  margin-left: 2rem;
}

.view-controls-container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2em;
       column-gap: 2em;
  overflow: hidden;
}
.view-controls-container .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.view-controls-container .main-btn .btn-text {
  padding: 0 1rem;
}
.view-controls-container .main-btn .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--secondary-color);
}
.view-controls-container .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.view-controls-container .main-btn:hover {
  transition: all 0.4s ease-out;
}
.view-controls-container .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 500px) {
  .controls-container {
    display: none;
  }
  .mobile-controls-container {
    position: fixed;
    display: grid;
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 100%;
    bottom: 0;
    left: 0;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-color);
  }
  .mobile-controls-container i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
  .mobile-controls-container .active-section i {
    color: var(--secondary-color);
  }
  .mobile-controls-container::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color);
  }
  .view-controls-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 2rem;
    width: 60%;
    margin-bottom: 5rem;
  }
  .view-controls-container .main-btn {
    width: -moz-fit-content;
    width: fit-content;
  }
  .view-controls-container .main-btn .btn-text {
    padding: 0 1rem;
    font-size: small;
  }
}/*# sourceMappingURL=controls.css.map */