:root{
    --primary-color: #111111;
    --secondary-color: #C84B31;
    --text-color: #ECDBBA;    
    --color-black: #000;
    --color-grey0: #a59982 ;
    --color-grey-1: #8d836f ;
    --color-grey-2: #766d5d ;
    --color-grey-3: #5e574a ;
    --color-grey-4: #464137 ;
    --color-grey-5: #2f2b25 ;
    --color-grey-6: #171512  ;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color); 
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.App{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-container{ 
    grid-column: 1 / span 12;
}

.active-page{
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

.page{
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

@import './Components/Introduction/Styles/introduction.css';
@import './Components/Controls/Styles/controls.css';
@import './Components/Contact/Styles/contact.css';
@import './Components/Information/Styles/information.css';