:root{
    --color-primary: #191A19;
    --color-secondary: #65bb62;
    --text-color: #F2F2F2;    

    --color-secondary-1: #5C8374;
    --color-secondary-2: #527568;
    --color-secondary-3: #49685C;
    --color-secondary-4: #405B51;
    --color-secondary-5: #374E45;
    --color-secondary-6: #2E413A;
    --color-secondary-7: #2E413A;
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #00FFAB;
    --text-color: #063A2A;    

    --color-secondary-1: #14C38E;
    --color-secondary-2: #11AE7F;
    --color-secondary-3: #109B71;
    --color-secondary-4: #0E8863;
    --color-secondary-5: #1770555e;
    --color-secondary-6: #0A6147;
    --color-secondary-7: #084E39;
    transition: .5s ease-in-out;
}

body{
    background-color: var(--color-primary);
    color: var(--text-color); 
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.App{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-container{ 
    grid-column: 1 / span 12;
}

.active-page{
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

.page{
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

@import './Components/Introduction/Styles/introduction.css';
@import './Components/Controls/Styles/controls.css';
@import './Components/Contact/Styles/contact.css';
@import './Components/Information/Styles/information.css';